<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBTUqj76JxfuP_pwqL64oBxcTnINOcfVyM</string>
	<key>GCM_SENDER_ID</key>
	<string>1068630632010</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.marcos.Habit-Builder</string>
	<key>PROJECT_ID</key>
	<string>empisaempire</string>
	<key>STORAGE_BUCKET</key>
	<string>empisaempire.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1068630632010:ios:7efc02f703c9f5e46368b3</string>
</dict>
</plist>